:root {
    --azul-oscuro: rgb(1, 19, 91);
    --azul-claro: rgb(2, 155, 222);
    --azul-aqua: rgb(0, 194, 167);
    --rosa: rgb(216, 0, 129);
    --gris-medio: rgb(161, 161, 161);
    --gris-claro: rgb(231, 231, 231);
    --grande: 32px;
    --mediana: 16px;
    --chica: 16px;
}
.normal-text {
    font-family:Arial, Helvetica, sans-serif;
}
body {
    background-image: url('globos.jpg');
    background-size: cover;
}
.container {
    border-radius: 10px;
    padding: 10px;
}
.card-big {
    padding: 20px;
    margin: auto;
    border: none;
    width: 80%;
    height: 80%;
    height: fit-content;
    background-color: white;
}
.card-vertical {
    padding: 20px;
    margin: auto;
    border: none;
    max-width: 300px;
    height: fit-content;
    background-color: white;
}
.card-horizontal {
    border: none;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    height: fit-content;
    background-color: white;
}
.card-header {
    background-color: var(--azul-claro);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px 10px 0px 0px;
}
.card-body {
    border: inset;
    height: fit-content;
    padding: 10px;
    border-width: 1px;
    border-top-width: 0px;
    border-color: var(--gris-medio);
    border-radius: 0px 0px 10px 10px;
    border-style: solid;
}
.logo {
    height: 100%;
    width: 100%;
}
.label {
    margin-top: 5px;
}
.button {
    box-sizing: border-box;
    color: white;
    background-color: var(--rosa);
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.button:disabled {
    background-color: rgb(247, 160, 212);
}
.fill-width {
    width: 100%;
}
.in {
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
}
.in-container {
    width: 100%;
    display: flex;
    justify-content: stretch;
}
.in-seats-container {
    display: flex;
    justify-content: space-between;
}
.seat-column {
    width: 40%;
    display: grid;
    grid-template-columns: 50% 50%;
}
.seat {
    background-color: var(--gris-medio);
    margin: 5%;
    padding: 10%;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}
.avail-seat:hover {
    cursor: pointer;
}
.avail-seat {
    background-color: var(--azul-claro);
}
.selected-seat {
    background-color: var(--azul-aqua);
}
.h1 {
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    color: var(--azul-oscuro);
}
.align-left {
    text-align: left;
}
.white {
    color: white;
}
.h2 {
    margin: 0px;
    font-size: var(--mediana);
}
.viaje {
    margin-bottom: 30px;
}
.table-container {
    overflow-x: scroll;
}
.table-body-container {
    overflow-y: scroll;
    max-height: 1em;
}
.table {
    width: 100%;
    text-align: left;
    padding: 5px;
    border-radius: 15px;
    border: none;
    border-spacing: 0px;
}
.table .th:first-child {
    border-radius: 10px 0 0 0;
}
.table .th:last-child {
    border-radius: 0 10px 0 0;
}
.th {
    background-color: var(--azul-claro);
    border: none;
}
.table-cell {
    border-color: black;
    padding: 5px;
}
.td {
    background-color: var(--gris-claro);
}